<%- include('header'); -%>
<h2>This is About Page.</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nobis suscipit
  sit vero similique ea debitis earum explicabo repellendus sunt, alias tempore
  in laborum sequi consequatur nostrum a veritatis at?
</p>
<%- include('footer'); -%>
